*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
.container{
    width: 100vw;
    height: 100vh;
}
.header{
    width: 100%;
    height: 10vh;
}
.body{
    width: 100%;
    height: 80vh;
}
.footer{
    position: fixed;
    width: 100%;
    height:10vh;
    left: 0;
    bottom: 0;
}
.clear{
    clear: both;
}
.btn-container{
    color: white;
    font-size: 15px;
}
.btn-container>.btn{
    display: inline-block;
    width: 50px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    background: #00a0dc;
    border-radius: 5%;
}

/*header*/
.header>.orderList{
    width: 100%;
    position: fixed;
}
.header>.orderList>div{
    position: relative;
    margin-bottom: 10px;
    padding-left: 20px;
    width: 100%;
    height: 50px;
    line-height: 50px;
    background: whitesmoke;
    font-size: 15px;
}
.header>.orderList>div>i{
    position: absolute;
    left: 90vw;
    top: 18px;
}
.uncookList>.uncookList-container,.unpayList>.unpayList-container,.payList>.payList-container{
    display: none;
    position: fixed;
    left: 0;
    top:0;
    width: 100vw;
    height: 100vh;
    background: white;
    z-index: 1;
    overflow: auto;
}
.uncookList-container>.clear, .unpayList-container>.clear, .payList-container>.clear{
    border-bottom: 1px solid whitesmoke;
}
.uncookList-container>.back, .unpayList-container>.back, .payList-container>.back{
    margin-left: 4vw;
    width: 65px;
    float: left;
}
.uncookList-container>.title, .unpayList-container>.title, .payList-container>.title{
    position: absolute;
    width: 70px;
    left: 50%;
    margin-left: -35px;
    text-align: center;
    font-size: 18px;
    font-weight: 800;
}
.uncookList-container>ul, .unpayList-container>ul, .payList-container>.search{
     width: 90vw;
     height: 31px;
     margin: 0 auto;
     font-size: 14px;
 }
.search>input{
    width: 77%;
    height: 90%;
}
.search>button{
    width: 20%;
    height: 100%;
    text-align: center;
}
.uncookList-container>ul, .unpayList-container>ul, .payList-container>ul{
    width: 90vw;
    margin: 20px auto;
    height: 75vh;
    overflow: auto;
}
.uncookList-container>ul>li, .unpayList-container>ul>li, .payList-container>ul>li{
    position: relative;
    height: 20vh;
    padding:  10px 0;
    border-bottom: 1px solid gainsboro;
 }

.uncookList-container>ul>li, .payList-container>ul>li{
    height: 23vh;
}
.uncookList.list > div > ul > li>.deskInfo>h4{
    display: inline-block;
}
.uncookList.list > div > ul > li>.deskInfo>h4:nth-of-type(1){
    margin-right: 20px;
}
.uncookList-container>ul>li>.btn-container,  .unpayList-container>ul>li>.btn-container{
    position: absolute;
    right: 10px;
    bottom: 5px;
}
.uncookList-container>ul>li>.deskInfo>h1,.uncookList-container>ul>li>.deskInfo>h2,.unpayList-container>ul>li>.deskInfo>h1,.unpayList-container>ul>li>.deskInfo>h2,
.payList-container>ul>li>.deskInfo>h1,.payList-container>ul>li>.deskInfo>h2{
    display: inline-block;
    margin-right: 20px;
}
 .payList-container > ul > li> .deskInfo > h3{
    display: inline-block;
}
/*header*/

/*footer*/
.footer>div{
    float: left;
    width: 50%;
    height: 100%;
    line-height: 64px;
    background: lavender;
    text-align: center;
}
.footer>.active{
    color: white;
    background: lightgray;
}
/*footer*/


/*subOrderDetail*/
#subOrderDetail{
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background: white;
    overflow: auto;
}
#subOrderDetail>.subOrderDetail-container>h1{
    margin-left: 10px;
}
#subOrderDetail>.subOrderDetail-container>h1,#subOrderDetail>.subOrderDetail-container>h2{
    float: left;
    margin-right: 20px;
}
#subOrderDetail>.subOrderDetail-container>table{
    width: 100vw;
    table-layout:fixed;
    word-break:break-all;
    border: none;
}
#subOrderDetail>.subOrderDetail-container>.subtotal{
    width: 100%;
    height: 30px;
    line-height: 30px;
    font-size: 18px;
    font-weight: 500;
    text-align: right;
    padding-top: 10px;
    padding-right: 20px;
    box-sizing: border-box;
}
#subOrderDetail>.subOrderDetail-container>table>tbody>tr:nth-child(1){
    font-size: 25px;
    font-weight: 500;
}
#subOrderDetail > div.subOrderDetail-container > table > tbody > tr > td:nth-child(3)>span{
    display: none;
    font-size: 14px;
    width: 18px;
    height: 18px;
    line-height: 16px;
    background: #00a0dc;
    border-radius: 50%;
    margin: 0 5px;
}
#subOrderDetail > div.subOrderDetail-container > table > tbody > tr > td:nth-child(1)>span{
    display: none;
    font-size: 28px;
    color: red;
    font-weight: 700;
    margin-right: 3px;
}
#subOrderDetail > div.subOrderDetail-container > table > tbody > tr > td:nth-child(1) > .name{
    display: inline-block;
}
#subOrderDetail>.btn-container{
    width: 150px;
    margin: 50px auto;
    text-align: center;
}
#subOrderDetail > div.btn-container > span.confirm-btn,#subOrderDetail > div.btn-container > span.cancel-btn{
    width: 72px;
    display: none;
}
#subOrderDetail>.close {
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 30px;
    margin-left: 300px;
}
/*subOrderDetail*/

/*unpayOrderDetail*/
#unpayOrderDetail{
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background: white;
    overflow: auto;
}
#unpayOrderDetail>.unpayOrderDetail-container{
    width: 100%;
}
#unpayOrderDetail>.unpayOrderDetail-container>ul{
    width: 100%;
}
#unpayOrderDetail>.unpayOrderDetail-container>h1{
    margin-bottom: 30px;
}
#unpayOrderDetail>.unpayOrderDetail-container>ul>li{
    box-sizing: border-box;
    padding: 20px 10px;
    border-bottom: 1px solid ghostwhite;
    width: 100%;
}
#unpayOrderDetail>.unpayOrderDetail-container>h1,#unpayOrderDetail>.unpayOrderDetail-container>ul>li>h3{
    margin-left: 10px;
}
#unpayOrderDetail>.unpayOrderDetail-container>ul>li>.sub-total{
    width: 100%;
    margin-top: 30px;
    padding-left: 210px;
    font-size: 18px;
}

#unpayOrderDetail>.unpayOrderDetail-container>ul>li>table{
    width: 100%;
    table-layout:fixed;
    word-break:break-all;
    border: none;
}
#unpayOrderDetail>.unpayOrderDetail-container>ul>li>table>tbody>tr:nth-child(1){
    font-size: 18px;
    font-weight: 500;
}
#unpayOrderDetail>.unpayOrderDetail-container>.total{
    margin-left: 210px;
    font-size: 20px;
    font-weight: 700;
}
#unpayOrderDetail>.btn-container{
    width: 150px;
    margin: 50px auto;
    text-align: center;
}
#unpayOrderDetail>.close {
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 30px;
    margin-left: 300px;
}
/*unpayOrderDetail*/


/*payOrderDetail*/
#payOrderDetail{
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background: white;
    overflow: auto;
}
#payOrderDetail>.payOrderDetail-container{
    width: 100%;
}
#payOrderDetail>.payOrderDetail-container>ul{
    width: 100%;
}
#payOrderDetail>.payOrderDetail-container>ul>li{
    box-sizing: border-box;
    padding: 20px 10px;
    border-bottom: 1px solid ghostwhite;
    width: 100%;
}
#payOrderDetail>.payOrderDetail-container>h2{
    margin-left: 10px;
}
#payOrderDetail>.payOrderDetail-container>ul>li>.sub-total{
    width: 100%;
    margin-top: 30px;
    padding-left: 210px;
    font-size: 18px;
}

#payOrderDetail>.payOrderDetail-container>ul>li>table{
    width: 100%;
    table-layout:fixed;
    word-break:break-all;
    border: none;
}
#payOrderDetail>.payOrderDetail-container>ul>li>table>tbody>tr:nth-child(1){
    font-size: 18px;
    font-weight: 500;
}
#payOrderDetail>.payOrderDetail-container>.total{
    margin-left: 210px;
    font-size: 20px;
    font-weight: 700;
}
#payOrderDetail>.close {
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 30px;
    margin-left: 300px;
}
/*payOrderDetail*/

/*shopList*/
.shopList{
    display: none;
}
.shopList>.title{
    height: 50px;
    width: 100%;
    font-size: 15px;
    line-height: 50px;
    border-bottom: 1px solid gainsboro;
}
.shopList>.title>.back>i {
    margin-left: 10px;
}
.shopList>.title>span:nth-child(2){
    font-weight: 700;
    font-size: 18px;
    margin-left: 22%;
}
.shopList>.shopList-ul{
    position: fixed;
    width: 100%;
    height: 79vh;
    overflow: auto;
}
.shopList>.shopList-ul>.group-cotainer>.title{
    width: 100vw;
    height: 40px;
    background: #f3f5f7;
    font-size: 16px;
    padding-left: 10px;
    line-height: 40px;
}
.shopList > .sub-header > ul{
    width: 100vw;
    font-size: 0;
}
.shopList > .sub-header > ul > li{
    display: inline-block;
    width: 25%;
    height: 30px;
    line-height: 30px;
    border-right: 1px solid aliceblue;
    border-bottom: 1px solid aliceblue;
    font-size: 15px;
    box-sizing: border-box;
    text-align: center;
    overflow: hidden;
}
.shopList > .sub-header > ul > .active{
    color: white;
    background: #00a0dc;
}
.shopList>.add{
    margin: 10px 0 10px 228px;
    width: 120px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 4px;
    border: 1px solid lavender;
    border-radius: 5px;
    color: gray;
}
.shopList>.content>ul{
    margin-bottom: 65px;
}
.shopList>.content>ul>li{
    border-bottom: 1px solid whitesmoke;
    margin: 10px;
}
.shopList>.content>ul>.foods>.icon{
    float: left;
}
.shopList>.content>ul>.foods>.icon>img{
    width: 65px;
    height: 65px;
    display: block;
}
.shopList>.content>ul>.foods>.name{
    float: left;
    margin: 0 10px 10px;
    width: 50vw;
    font-size: 15px;
}
.shopList>.content>ul>.foods>.price {
    float: left;
    margin: 15px 10px 10px;
    width: 50vw;
    font-size: 15px;
}
.shopList>.content>ul>.foods>.description{
    margin-bottom: 45px;
}
.shopList>.content>ul>.foods>.description>p{
    word-break: break-all;
}
.shopList>.content>ul>.foods>.btn-container{
    float: right;
    position: relative;
    top: -45px;
}

/*foodDetail*/
#foodDetail{
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1;
    width: 100vw;
    height: 100vh;
    background: white;
    padding: 10px;
    box-sizing: border-box;
}
#foodDetail>.container{
    width: 100%;
    height: auto;
}
#foodDetail>.container>div{
    margin-bottom: 20px;
    font-size: 18px;
}
#foodDetail>.container>div>input{
    width: 70%;
    height: 30px;
    font-size: 18px;
    border: none;
    box-shadow: none;
    border-bottom: 1px solid gainsboro;
    outline: none;
}
#foodDetail>.container>.img,#foodDetail>.container>.newImg-container{
    display: inline-block;
}
#foodDetail>.container>.upLoadImg{
    width: 120px;
    height: 30px;
    line-height: 30px;
    padding: 5px;
    border: 1px solid gold;
    font-size: 18px;
    font-weight: 500;
    background: orange;
    border-radius: 10px;
    color: white;
    text-align: center;
}
#foodDetail>.container>.name{

}
#foodDetail>.container>.oldPrice{

}
#foodDetail>.container>.newPrice{

}
#foodDetail>.container>.description{
    position: relative;
    margin-bottom: 140px;
}
#foodDetail>.container>.description>textarea{
    position: absolute;
    width: 70%;
    height: 100px;
    font-size: 18px;
    top: 4px;
    overflow: auto;
    outline: none;
}
#foodDetail>.close {
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 30px;
    margin-left: 300px;
}
#foodDetail>.btn-container{
    text-align: center;
}
#foodDetail>.btn-container>.btn{
    width: 115px;
}
/*foodDetail*/

/*deletepopup*/
#deletePopUp{
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,.5);
}
#deletePopUp>.container{
    width: 80%;
    height: 185px;
    background: white;
    margin: 0 auto;
    margin-top: 168px;
}
#deletePopUp>.container>p {
    height: 62px;
    overflow: auto;
}
#deletePopUp>.container>.close-container{
    text-align: right;
    width: 100%;
    height: 40px;
    line-height: 40px;
}
#deletePopUp>.container>.close-container>.close{
    padding-right: 10px;
    font-size: 20px;
}
#deletePopUp>.container>p{
    padding: 10px;
}
#deletePopUp>.container>.btn-container{
    padding-top: 10px;
    padding-bottom: 20px;
    text-align: center;
}
#deletePopUp>.container>.btn-container>.btn{
    width: 68px;
}
/*deletepopup*/

/*addpopup*/
#addPopUp{
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1;
    width: 100vw;
    height: 100vh;
    background: white;
    padding: 10px;
    box-sizing: border-box;
    overflow: auto;
}
#addPopUp>.container{
    width: 100%;
    height: auto;
}
#addPopUp>.container>div{
    margin-bottom: 20px;
    font-size: 18px;
}
#addPopUp>.container>.upLoadImg{
    width: 120px;
    height: 30px;
    line-height: 30px;
    padding: 5px;
    border: 1px solid gold;
    font-size: 18px;
    font-weight: 500;
    background: orange;
    border-radius: 10px;
    color: white;
    text-align: center;
}
#addPopUp>.container>div>input{
    width: 70%;
    height: 30px;
    font-size: 18px;
    border: none;
    box-shadow: none;
    border-bottom: 1px solid gainsboro;
    outline: none;
}
#addPopUp>.container>.name{

}
#addPopUp>.container>.oldPrice{

}
#addPopUp>.container>.newPrice{

}
#addPopUp>.container>.description{
    position: relative;
    margin-bottom: 140px;
}
#addPopUp>.container>.description>textarea{
    position: absolute;
    width: 70%;
    height: 100px;
    font-size: 18px;
    top: 4px;
    overflow: auto;
    outline: none;
}
#addPopUp>.list>ul{
    margin: 20px;
    font-size: 0;
}
#addPopUp>.list>ul>li{
    width: 25%;
    height: 30px;
    display: inline-block;
    box-sizing: border-box;
    border: 1px solid #00a0dc;
    font-size: 16px;
    border-radius: 5px;
    overflow: auto;
}
#addPopUp>.list>ul>li.active{
    background: orange;
    border: 1px solid gold;
}
#addPopUp>.close-container {
    text-align: right;
}
#addPopUp>.close-container>.close {
    font-size: 20px;
    padding-right: 10px;
}
#addPopUp>.btn-container{
    text-align: center;
}
#addPopUp>.btn-container>.btn{
    width: 115px;
}
/*addpopup*/